[user]
	name = Ryan Mcleavy
	email = ryanmcleavy14@gmail.com
[safe]
[http]
	sslVerify = false
[credential]
	helper = store
[includeIf "gitdir:~/Rsync/BT/code/"] # job needs, like workspace/* so all included projects
    path = .gitconfig-bt
